<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
</head>
<body>

    <h1>Something went wrong!</h1>
    <p>We are sorry, but an error occurred on our server. Please try again later.</p>
    <a href="{{ url_for('home') }}">Go back to the homepage</a>
</body>
</html>