<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add User</title>
</head>
<body>

    <h1>Add a New User</h1>
    <form action="{{ url_for('add_user') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add User</button>
    </form>
    <a href="{{ url_for('list_users') }}">Back to Users</a>
</body>
</html>