<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieWeb App</title>
</head>
<body>

    <h1>MovieWeb App</h1>
    <nav>
        <a href="{{ url_for('list_users') }}" class="btn">View All Users</a>
        <a href="{{ url_for('add_user') }}" class="btn">Add a New User</a>
    </nav>
</body>
</html>